<?xml version="1.0" encoding="UTF-8"?>
<ruleset
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd">
    <arg name="colors" />
    <file>flight</file>
    <file>tests</file>
    <rule ref="PSR1" />
    <rule ref="PSR2" />
    <rule ref="PSR12" />
</ruleset>
