includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - phpstan-baseline.neon

parameters:
    level: 6
    paths:
        - flight
        - index.php
    treatPhpDocTypesAsCertain: false
